<h1> Add donations </h1>
<%= form_tag "/donations" do %>
  <% 10.times do %>
  	<div class ="row">
    	<%= render 'donation_form' %>  
    </div>   
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>
<%= link_to "Home", root_path %>
